# Ignore data and models
data/*
!data/sample_images/
models/*
outputs/logs/*
outputs/plots/*

# Python and Jupyter artifacts
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints/

# Environment and config files
.env
.DS_Store

# VSCode and system-specific
.vscode/
